.like-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.25rem;
}

.like {
  background: url(../../icons/like_star_icon.png) no-repeat center;
}

.dislike {
  background: url(../../icons/dislike_star_icon.png) no-repeat center;
}